/* general rules  */
.star-container .line {
    width: 200px; 
    height: 4px;
    border-radius: 25px; 
}

#jumbo .line.white , #about .line.white {
    background-color: white;
}

#portfolio .star-container .line.grey {
    background-color: rgba(44,62,80,255);
}

.fas.white-star {
    color: white;
}


/* header  */
 header {
     /* background-color: rgba(44,62,80,255); */
     /* height: 80px; */
 }

    /* nav bar  */
 #nav-container {
    width: 100%;
    padding: 30px 0;
    background-color: rgba(44,62,80,255);
    /* height: 100px; */
}

.navbar-light .navbar-brand , 
.navbar-light .navbar-nav .nav-link.active ,
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}



    /* jumbo */
#jumbo {
    /* height: 600px; */
    background-color: rgba(26,188,156,255);
    padding: 50px 0;
}

/* #jumbo #avatar-container {
   background-color: tomato;
   height: 100px; 
} */

#jumbo #avatar-container img {
    width: 250px;
}

#jumbo h1 {
    margin: 25px 0;
}

#jumbo #profile {
    margin: 20px 0;
    color: white;
    font-size: 20px;
}

/* main part  */
    /* portfolio  */
/* .bk-title {
    height: 50px;
    background-color: burlywood;
} */

h2 {
    text-align: center;
    color: rgba(51,51,51,255);
    margin-top: 40px;
}

.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.star-container .fas {
    font-size: 35px;
    margin: 0 25px;
}

/* .portfolio-item {
    min-height: 150px;
    background-color: chocolate;
    border: 1px solid black;
} */

.content {
    /* min-height: 200px;
    background-color: rgb(171, 210, 30); */
    margin: 20px 0;
}

#portfolio img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}


    /* about  */
#about {
    /* height: 500px; */
    background-color: rgba(26,188,156,255);
    padding-bottom: 40px;
}

 .white {
    color: white;
}



.about-container {
    /* height: 500px; */
    background-color: darkgray;
}

/* .about-content {
    height: 200px;
    background-color: rgb(235, 82, 82);
    border: 1px solid black;
} */

#about .content {
    font-size: 15px;
    
}

 /* .cta {
    height: 50px;
    background-color: rgb(175, 150, 233);
    border: 1px solid black;
}  */

#about .cta .btn .fas {
    display: inline;
    margin-right: 5px;
}

#about .cta .btn-outline-secondary {
    color: white;
}


    /* contact me  */
#contact-me {
    /* height: 250px; */
    background-color: rgb(2, 112, 26);
}

.form {
    height: 150px;
    background-color: rgb(46, 211, 134);
}


 /* footer  */
     /* up  */
footer #up {
    /* height: 300px; */
    background-color: rgba(58,84,109,255);
    padding: 20px 0;
    color: white;
}

footer .footer-item {
    /* height: 100px;
    background-color:yellowgreen; */
    margin: 15px;
} 

footer #up .fab {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 15px;
    margin: 5px;
}

footer #up a {
    text-decoration: none;
    color: rgba(36,158,142,255);
}
/* .up-content {
    height: 100px;
    background-color: cornsilk;
    border: 1px solid black;
} */

    /* down  */
#down {
    /* height: 100px; */
    padding: 35px 0;
    background-color: rgba(44,62,80,255);
}