.my-col{
    min-height: 50px;
    background-color: rgba(0,108,250,255);
    border: 1px solid white;
 }


 /* header  */
 header {
     background-color: rgba(44,62,80,255);
     height: 80px;
 }


 /* jumbotron  */
 #jumbotron {
     height: 400px;
     background-color: aqua;
 }


 /* main part  */
 main {
    background-color: rgb(225, 0, 255);
 }

 /* portfolio  */
 .port_item {
     height: 400px;
     background-color: brown;
     border: 1px solid white;
 }


 /* about  */
 #about {
     height: 450px;
     background-color: yellowgreen;
 }

 /* title  */
 .title {
     background-color: violet;
 }

/* content  */
 .about-content {
     min-height: 150px;
     background-color: rgb(77, 8, 204);
     border: 1px solid white;
 }

 .cta {
     min-height: 50px;
     background-color: coral;
     border: 1px solid black;
 }


 /* contacto me  */
#form {
    height: 250px;
    background-color: crimson;
}

 /* footer  */
 footer {
     
     background-color: black;
 }

 .footer-content {
     height: 50px;
     background-color: cadetblue;
     border: 1px solid black;
 }